body, * {
    font-family: Helvetica, sans-serif;
    font-size: 22px;
    color: seashell;
    background-color: black;
    opacity: 0.9;
    text-align: center;
    text-justify: auto;
    display: inline-block;
}
header {
    height: 69px;
    width: 100%;
    border-bottom: 1px solid seashell;
    display: inline-flex;
}

#img-tea-cozy-logo{
    align-items: center;
    margin: auto 0px;
    padding-left: 10px;
    flex-direction:left;
    
}

#fixed_header{
    text-decoration: underline;
    margin: auto 0px auto auto;
    padding: 10px;
}

#fixed_header a {  
    margin-right: 10px;
}

.Mission {  
    background-image: url(img-mission-background.webp);
    background-size: cover; /* Arka plan resmi boyutlandırma */
    width: 1200px;
    height: 700px;
    display: flex; /* Öğeleri dikey ve yatayda ortalamak için */
    align-items: center;
    justify-content: center;
}

#TextMission {
    text-align: center; /* Metinleri ortalamak için */
    width: 100%; /* Metinlerin genişliğini ayarlamak için */
}

#TextMission h2,
#TextMission h4 {
    display: block; /* Metinleri blok elementlere dönüştürmek */
    margin: 20px auto; /* İstenilen boşluklar için */
}

.Featured_Tea {
    width: 1000px;
    margin-top: 50px;
}

#text_Featured h2,
#text_Featured h4 {
    display: block; /* Metinleri blok elementlere dönüştürmek */
    margin: 20px auto; /* İstenilen boşluklar için */
}

.container {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
  }

.image-box {
    text-align: center;
    display: inline-block;
}

.image-box img {
    width: 300px;
    height: 200px;
}

.image-description {
    margin-top: 10px;
    text-align: center;
}


