body, * {
    font-family: Helvetica, sans-serif;
    font-size: 22px;
    color: seashell;
    background-color: black;
    opacity: 0.9;
    text-align: center;
    text-justify: auto;
}
header {
    height: 69px;
    width: 100%;
    border-bottom: 1px solid seashell;
    display: inline-flex;
}

#img-tea-cozy-logo{
    align-items: center;
    margin: auto 0px;
    padding-left: 10px;
    flex-direction:left;
    
}

#fixed_header{
    text-decoration: underline;
    margin: auto 0px auto auto;
    padding: 10px;
}

#fixed_header a {  
    margin-right: 10px;
}


