body, * {
    font-family: Helvetica, sans-serif;
    font-size: 22px;
    color: seashell;
    background-color: black;
    opacity: 0.9;
    text-align: center;
    text-justify: auto;
    display: inline-block;
}

header {
    height: 69px;
    width: 100%;
    border-bottom: 1px solid seashell;
    display: inline-flex;
}

#img-tea-cozy-logo{
    align-items: center;
    margin: auto 0px;
    padding-left: 10px;
    flex-direction:left;
}

#fixed_header{
    text-decoration: underline;
    margin: auto 0px auto auto;
    padding: 10px;
}

#fixed_header a {  
    margin-right: 10px;
}

.Mission {  
    background-image: url(img-mission-background.webp);
    background-size: cover; /* Arka plan resmi boyutlandırma */
    margin: auto;
    width: 1200px;
    height: 700px;
    display: flex; /* Öğeleri dikey ve yatayda ortalamak için */
    align-items: center;
    justify-content: center;
}

#TextMission {
    text-align: center; /* Metinleri ortalamak için */
    width: 100%; /* Metinlerin genişliğini ayarlamak için */
}

#TextMission h2,
#TextMission h4 {
    display: block; /* Metinleri blok elementlere dönüştürmek */
    margin: 20px auto; /* İstenilen boşluklar için */
}

.Featured_Tea {
    width: 1000px;
    margin-top: 50px;
}

#text_Featured h2,
#text_Featured h4 {
    display: block; /* Metinleri blok elementlere dönüştürmek */
    margin: 20px auto; /* İstenilen boşluklar için */
}

.container {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
    
  }

  .item {
    text-align: center;
    width: 300px;
}

.item .image-box {
    display: inline-block;
    
}

.item .image-box img {
    width: 300px; /* Resimlerin genişliğini ayarla */
    height: 200px;
}

.image-description {
    margin-top: 10px;
    text-align: center;
}

.Locations {
    background-image: url('img-locations-background.webp');
    background-size: cover;
    background-position: center top;
    text-align: center;
    height: 500px;
    width: auto;
}

.loc_containeer {
    display: flex;
    justify-content: space-around;
}

.loc_Adresse {
    width: 300px;
    text-align: center;
}

.loc_Adresse h2,
.loc_Adresse h3 {
    text-align: center;
}

footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    height: 200px;
    width: auto;
}

#copyright{
    
    margin-left: 20px;
    
    
}

