/* General Styles */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
  }
  
html {
  font-size: 18px;
}

  header {
    background-color: #333;
    color: white;
    padding: 20px;
  }
  
  nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
  }
  
  nav ul li {
    display: inline;
    margin-right: 20px;
  }
  
  nav ul li a {
    color: white;
    text-decoration: none;
  }
  
  main {
    padding: 20px;
  }
  
  @media screen and (max-width: 768px) {
    header {
      text-align: center;
    }
  
    nav ul {
      display: block;
      text-align: center;
    }
  
    nav ul li {
      display: block;
      margin-bottom: 10px;
    }
  
    main {
      padding: 10px;
    }
  
    .image-grid {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
    }
  
    .image-container {
      width: 100%;
      padding: 5px;
      box-sizing: border-box;
    }
  }
  
  @media screen and (min-width: 769px) {
    .image-grid {
      display: flex;
      flex-wrap: wrap;
    }
  
    .image-container {
      width: 50%;
      padding: 5px;
      box-sizing: border-box;
    }
  }
  