h1{
   font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif; 
}
*{
    margin: 0px;
    padding: 0px;
}
header, footer, article, hgroup, aside, section, nav{
    display: block;
}
body{
    text-align: center;
}
#ana_kisim{
    width: 1000px;
    margin: 15px auto;
    border: 2px solid red;
}
#ana_baslik{
    border-bottom: 1px dashed red ;
    background-color: blue;
    color:white;
    padding: 20px;
}
#ana_menu{
    background-color: lightblue;
    padding: 3px;
}
#ana_menu li{
    display: inline-block;
    list-style: none;
    font: bold 20px Calibri;
    color: white;
    padding-left: 50px;
}
#ana_makale{
    width: 700px;
    margin: 25px;
    float: left;
}
#banner_kismi{
    float: left;
    width: 200px;
    margin: 10px;
    padding: 15px;
    background-color: yellow;
}
#banner_kismi p{
    font: bold 20px Calibri;    
    text-decoration: blink;
}
#alt_kisim{
    clear: both;
    padding: 10px;
    border-top: 1px dashed red;
}
#ana_makale footer{
    text-align: right;
    color: blueviolet;
} 




[]
{}